
{% extends 'base.html' %}
<title>Phone Number Validation</title>

{% block content %}
    <h1>Введите номер телефона</h1>
    <form method="POST">
        <div class="form-group">
            <label for="phone">Номер телефона:</label>
            <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="phone" name="phone" value="{{ phone_number or '' }}">
            {% if error %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Проверить</button>
    </form>

    {% if formatted_number %}
        <p class="mt-3">Отформатированный номер: {{ formatted_number }}</p>
    {% endif %}

{% endblock %}